<div data-controller='stars'>
  <%= turbo_frame_tag 'add_url', src: new_star_path %>

  <%= turbo_frame_tag 'stars_table', src: table_star_index_path, data: { 'stars-target': 'starsTable' } %>


  <%= render 'graphs' %>
</div>
